.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding-inline: 16px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(231, 227, 235);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.leftHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.leftHeader img {
  max-width: 140px;
  object-fit: contain;
}
.navLink {
  position: relative;
}
.navLink a {
  text-decoration: none;
  color: var(--purple-color);
  font-size: 16px;
  font-weight: 400;
}
.mainNav {
  display: inline-flex;
  width: 60px;
  height: 48px;
  justify-content: center;
  align-items: center;
}
.mainNav svg {
  font-size: 27px !important;
}
.mainNav:hover {
  background: rgb(239, 244, 245);
  border-radius: 16px;
}
.navLink svg {
  color: var(--purple-color);
  font-size: 16px;
}
.dropMenu {
  position: absolute;
  top: 100%;
  width: 280px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(231, 227, 235);
  border-radius: 16px;
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;
  padding: 5px 0px;
  display: none;
}
.dropMenu a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.dropMenu a:hover {
  background-color: rgb(239, 244, 245);
}
.border {
  border-top: 1px solid rgb(231, 227, 235);
  border-bottom: 1px solid rgb(231, 227, 235);
  padding: 15px 0px;
}
.rightHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.rightHeader svg {
  color: var(--purple-color);
  font-size: 20px;
  cursor: pointer;
}
.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.amount p {
  color: var(--purple-color);
  font-weight: 600;
  cursor: pointer;
}
.small {
  max-width: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}
.amount:hover .small {
  transform: scale(1.1);
}
.languageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.languageDrop {
  position: absolute;
  top: 100%;
  display: none;
  width: 200px;
  max-height: 400px;
  overflow-y: scroll;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
    rgb(25 19 38 / 5%) 0px 1px 1px;
  padding: 16px;
}
.languageDrop::-webkit-scrollbar {
  width: 8px;
}
.languageDrop::-webkit-scrollbar-thumb {
  background: var(--purple-color);
  border-radius: 8px;
}
.languageDrop::-webkit-scrollbar-track {
  box-shadow: rgb(238 234 244) 0px 0px 5px inset;
  border-radius: 10px;
}
.languageDrop p {
  text-align: center;
  color: var(--purple-color);
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: all 0.2s ease;
  height: 32px;
  padding: 0px 16px;
  background-color: var(--button-bg);
  color: white;
}
.connect:hover {
  opacity: 0.65;
}
.navLink1:hover .dropMenu1,
.navLink2:hover .dropMenu2,
.navLink3:hover .dropMenu3,
.navLink4:hover .dropMenu4,
.navLink5:hover .dropMenu5,
.dropMenu:hover {
  display: flex;
}
.logoMob {
  display: none;
}
.bottomBar {
  display: none;
}
.displayFlex {
  display: flex;
}
@media screen and (max-width: 868px) {
  .mainNav {
    width: 50px;
    height: 48px;
  }
}
@media screen and (max-width: 800px) {
  .logo {
    display: none;
  }
  .logoMob {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .navLink {
    display: none;
  }
  .logoMob img {
    max-width: 30px;
    object-fit: contain;
  }
  .amount {
    display: none;
  }
  .bottomBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(231, 227, 235);
    height: 50px;
    width: 100%;
    padding-inline: 8px;
    z-index: 6;
  }
  .mobLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  .mobLink svg {
    color: var(--purple-color);
    font-size: 15px;
  }
  .mobLink p {
    color: var(--purple-color);
    font-size: 10px;
  }

  .bottomBar .dropMenu {
    top: auto;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  .dropMenu a {
    text-decoration: none;
    color: var(--purple-color);
  }
  .openMenu {
    display: flex;
    z-index: 6;
  }
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(40, 13, 95, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
  }
  .openOverlay {
    opacity: 1;
    pointer-events: all;
  }
}
