.earn {
  padding-top: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.earnHeader {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 8px 0 0 0;
  background-color: white;
  width: 100%;
}
.earnHeader > a {
  text-decoration: none;
  font-weight: 400;
  color: var(--purple-color);
  padding: 6px 4px;
}
