.liquidity {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card {
  max-width: 434px;
  width: 90%;
  border-radius: 24px;
  box-shadow: 0px 2px 0px 0px rgb(231, 227, 235);
  border: 1px solid rgb(231, 227, 235);
  background-color: white;
  display: none;
}
.cardHeader {
  display: flex;
  position: relative;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 24px 24px 0 0;
}
.headerContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardHeader > svg {
  color: var(--dark-purple);
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.cardHeader > svg:hover {
  opacity: 0.6;
}
.icons {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 20px;
  display: flex;
  gap: 1.5rem;
  color: var(--purple-color);
}
.icons > * {
  cursor: pointer;
  transition: all 0.15s;
}
.icons > *:hover {
  opacity: 0.6;
}
.cardHeader h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-purple);
}
.cardHeader p {
  color: var(--purple-color);
  font-size: 14px;
}
.cardContent {
  display: flex;
  flex-direction: column;
}
.connectWallet {
  background-color: rgb(238, 238, 238);
  border-top: 1px solid rgb(231, 227, 235);
  border-bottom: 1px solid rgb(231, 227, 235);
  color: var(--purple-color);
  text-align: center;
  padding-block: 1.5rem;
}
.addLiquidityBtn {
  width: 90%;
  align-self: center;
  margin-block: 1.5rem;
  display: flex;
  flex-direction: column;
}
.showCard {
  display: block;
}
.tokenPairContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-top: 1px solid rgb(231, 227, 235);
  border-bottom: 1px solid rgb(231, 227, 235);
}
.tokenPairContainer > h1 {
  color: var(--light-purple);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.tokenPairing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tokenPairing > svg {
  color: rgb(122, 110, 170);
}
.token {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 45%;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  border: 1px solid rgb(215, 202, 236);
  border-radius: 16px;
  background: rgb(238, 234, 244) none repeat scroll 0% 0%;
  padding: 0px 16px;
  height: 40px;
  transition: opacity 0.15s ease 0s;
  cursor: pointer;
  user-select: none;
}
.token:hover {
  opacity: 0.6;
}
.token:active {
  transform: translateY(1px);
}
.token > img {
  width: 24px;
  height: 24px;
}
.token > h1 {
  font-size: 1rem;
  color: var(--dark-purple);
}
.token > svg {
  color: var(--dark-purple);
  margin-left: auto;
  font-size: 12px;
}
.disabled > button,
.disabled > button:hover {
  background-color: rgb(233, 234, 235);
  border-color: rgb(233, 234, 235);
  box-shadow: none;
  color: rgb(189, 194, 196);
  cursor: not-allowed;
}
