.cakeCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 140px;
  width: 100%;
  padding-bottom: 70px;
  position: relative;
  background-color: rgb(250, 249, 250);
}

.cake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  gap: 4rem;
  padding-inline: 20px;
}
.leftCake {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 0.5;
  height: 100%;
  gap: 15px;
}
.leftCake h1 {
  font-weight: 600;
  line-height: 1.1;
  font-size: 40px;
  color: var(--dark-purple);
}
.leftCake span {
  color: var(--light-purple);
}
.leftCake p {
  color: var(--purple-color);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 16px;
  max-width: 400px;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btnDiv a {
  color: var(--button-bg);
  text-decoration: none;
  font-weight: 600;
}
.btnDiv a:hover {
  text-decoration: underline;
}
.rightCake {
  position: relative;
  flex: 0.5;
  height: 100%;
}
.rightCake img {
  position: absolute;
  max-width: 420px;
  object-fit: contain;
  left: 0;
  top: 0%;
}
.rightCake img:first-of-type {
  z-index: 1;
  animation: coin 3.2s ease-in-out infinite alternate;
}
.rightCake img:nth-of-type(2) {
  z-index: 2;
  animation: coin 3s ease-in-out infinite alternate;
}
.rightCake img:nth-of-type(3) {
  z-index: 4;
  animation: coin 2.8s ease-in-out infinite alternate;
}
.rightCake img:nth-of-type(4) {
  z-index: 3;
  animation: coin 2.8s ease-in-out infinite alternate;
}
@keyframes coin {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.switchDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 20px;
  max-width: 1000px;
  margin-top: 3rem;
  padding-inline: 20px;
}
.switchCol {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  border-right: 1px solid rgb(215, 202, 236);
}
.switchCol h4 {
  color: var(--purple-color);
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
}
.switchCol h2 {
  color: var(--dark-purple);
  font-weight: 600;
  line-height: 1;
  font-size: 24px;
}
.switchCol:nth-child(3),
.switchCol:nth-child(6) {
  border: none;
}
@media screen and (max-width: 1050px) {
  .cakeCont {
    padding-top: 60px;
  }
  .cake {
    flex-direction: column;
    padding-bottom: 3rem;
    height: 500px;
    gap: 0px;
  }
  .leftCake br {
    display: none;
  }
  .leftCake p {
    max-width: 100%;
  }
  .leftCake {
    order: 2;
    width: 100%;
    flex: none;
    align-items: flex-start;
  }
  .rightCake {
    order: 1;
    flex: none;
    width: 100%;
    height: 50%;
  }
  .rightCake img {
    max-width: 200px;
    top: 50%;
    right: 0%;
    left: auto;
  }
  .switchDiv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1rem;
  }
  .switchCol:nth-child(3) {
    border-right: 1px solid rgb(215, 202, 236);
  }
  .switchCol:nth-child(2),
  .switchCol:nth-child(4),
  .switchCol:nth-child(6) {
    border: none;
  }
}
