.prizeCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(rgb(111, 182, 241) 0%, rgb(234, 242, 246) 100%);
  padding: 48px 16px;
}
.prize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border: 1px solid rgb(231, 227, 235);
  backdrop-filter: blur(12px);
  border-radius: 72px;
}
.prizeH1 {
  font-size: 40px;
  color: rgb(40, 13, 95);
  font-weight: 600;
  margin-bottom: 1rem;
}
.prize span {
  color: rgb(118, 69, 217);
}
.prizeDesc {
  color: var(--purple-color);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  max-width: 230px;
}
.boxRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  padding-bottom: 16px;
}
@media screen and (max-width: 718px) {
  .boxRow {
    flex-direction: column;
  }
}
@media screen and (max-width: 544px) {
  .prize {
    border-radius: 45px;
  }
  .prizeH1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
