@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --purple-color: rgb(122, 110, 170);
  --button-bg: rgb(31, 199, 212);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.slider .splide__track {
  width: 100% !important;
}
.slider .splide__pagination__page {
  margin: 0px !important;
  transform: none !important;
  width: 50px !important;
}
.slider .splide__pagination__page:first-child {
  border-radius: 4px 0px 0px 4px !important;
}
.slider .splide__pagination__page:last-child {
  border-radius: 0px 4px 4px 0px !important;
}
